@media (max-width: 992px) {
  body {
    flex-wrap: wrap;
  }
  .formulario-registro {
    max-width: 100%;
  }
}
@media (max-width: 592px) {
  body {
    flex-wrap: wrap;
  }
  .formulario-registro {
    max-width: 100%;
  }
}
@media (max-width: 592px) {
  .send {
    max-width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    flex-wrap: wrap;
  }
  .pag {
    flex-wrap: wrap;
    margin-top: 190px;
    max-width: 100%;
  }
  .chebox {
    margin-top: 20px;
  }
  .acept {
    background: var(--send);
    max-width: 100%;
    margin-top: 40px;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .mapa {
    width: 345px;
  }
}
@media (max-width: 392px) {
  .pag {
    margin-top: 230px;
    margin-right: 36px;
  }
  .formulario {
    max-width: 100%;
  }
  .mapa {
    width: 295px;
  }
  .formulario-registro {
    height: 780px;
  }
}
@media (max-width: 360px) {
  .btn {
    max-width: 100%;
  }
  .formulario {
    max-width: 100%;
  }
  .footer {
    width: 100%;
  }
  .mapa {
    width: 235px;
  }
  .contacto {
    width: 250px;
    /* color: red;
    font-size: 10px; */
  }
  .contacto li {
    font-size: 20px;
  }
  .footer-box {
    max-width: 100%;
  }
  .pag {
    margin-left: 10px;
  }
  .formulario-registro {
    height: 850px;
  }
  .send {
    margin-left: 3px;
  }
}
