@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Fira Sans Condensed", sans-serif;
}
:root {
  --primary: rgba(0, 0, 0, 0.507);
  --secondary: white;
  --boton: rgba(29, 29, 31, 0.301);
  --send: rgba(29, 29, 31, 0.589);
  --terce: white;
  --footer: rgba(0, 0, 0, 0.349);
}
body {
  width: 100%;
  background-image: url(./img/login/paisaje.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
body h1 {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 50px;
  color: var(--secondary);
  background: var(--primary);
  border-radius: 10px;
}
.formulario {
  background: var(--primary);
  width: 380px;
  height: 250px;
  color: var(--secondary);
  font-size: 25px;
  padding: 30px 30px;
  margin-top: 60px;
  margin: auto;
  border-radius: 10px;
}
.enter {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  height: 35px;
  width: 180px;
  margin-left: 10px;
}
.btn {
  border: none;
  background: var(--boton);
  padding: 10px 10px;
  margin: auto;
  width: 300px;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  color: var(--secondary);
  border-radius: 10px;
}
.pag {
  font-size: 20px;
  padding-top: 38px;
  margin: auto;
  display: flex;
  justify-content: center;
  width: 300px;
  margin-top: 60px;
}
.pag a {
  font-size: 25px;
  font-weight: 580;
  color: var(--secondary);
  border-radius: 10px;
  background: var(--boton);
  padding: 10px 10px;
}
/* REGISTRO */
.formulario-registro {
  background: var(--primary);
  width: 500px;
  height: 750px;
  color: var(--secondary);
  font-size: 25px;
  padding: 30px 30px;
  margin-top: 60px;
  margin: auto;
  border-radius: 10px;
}
.chebox {
  margin-left: 10px;
  font-size: 14px;
  height: 25px;
  width: 90px;
}
.acept {
  display: flex;
  justify-content: center;
}
.send {
  border: none;
  background: var(--send);
  padding: 5px 20px;
  margin: auto;
  width: 300px;
  max-width: 100%;
  font-size: 25px;
  font-weight: 200;
  cursor: pointer;
  color: var(--secondary);
  border-radius: 10px;
  margin-left: 70px;
  margin-top: 50px;
}

/* footer */
footer {
  margin-top: 7%;
  background: var(--footer);
  padding: 10px 0px;
  width: 100%;
}
.footer-box {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.footer-box h2 {
  color: var(--terce);
  font-size: 80px;
  font-weight: 800;
  font-family: "Bebas Neue", sans-serif;
}

.footer-box img {
  width: 50px;
}
.footer-box a {
  color: var(--terce);
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--terce);
  font-family: "Bebas Neue", sans-serif;
}
.footer-box h3 {
  color: var(--terce);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Bebas Neue", sans-serif;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  margin-top: 100px;
}

.tyc {
  color: var(--terce);
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.tyc p {
  margin-top: 20px;
  font-family: "Bebas Neue", sans-serif;
}
.tyc hr {
  border: none;
  height: 1px;
  background-color: var(--terce);
}
.contacto li {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--terce);
  gap: 10px;
}
.color:hover {
  background: rgba(19, 19, 18, 0.699);
  transition: all 0.5s ease;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}
