@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --background: rgb(236, 236, 236);
  --primary: white;
  --secundary: black;
  --terciario: rgba(255, 255, 0, 0.315);
  --container: rgba(14, 14, 13, 0.582);
  --buttom: rgba(235, 219, 0, 0.829);
  --main: rgba(255, 255, 255, 0.74);
  --footer: rgb(255, 252, 252);
  --img: rgb(14, 14, 13);
}
header {
  background: var(--primary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 8px 24px var(--secundary);
}
.cart-icon {
  font-weight: 600;
  height: 40px;
  width: 100%;
  padding: 5px 10px;
  margin-right: 16px;

  cursor: pointer;
}
.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}
.navbar-list a {
  color: var(--secundary);
  font-size: 25px;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Portada */
.container-cover {
  width: 100%;
  height: 500px;
  position: relative;
  top: 65px;
  background-image: url(./img/portada.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.container-cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--terciario);
  position: absolute;
  top: 0;
  left: 0;
}
.Logo {
  height: 100%;
  cursor: pointer;
}
.container-info-cover {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.container-info-cover h1 {
  font-size: 80px;
  font-weight: 800;
  color: var(--primary);
  margin-bottom: 10px;
}
.container-info-cover p {
  font-size: 30px;
  font-weight: 800;
  color: var(--primary);
}
.navbar i {
  font-size: 36px;
  display: none;
}
#toggle-menu {
  display: none;
}

/* productos */
#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  max-width: 100%;
  width: 100%;
}
#products h2 {
  padding: 80px;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 40px 0px;
  max-width: 1200px;
}
.product {
  padding: 20px;
  border: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.product img {
  width: 300px;
  height: 220px;
  box-shadow: 0 8px 24px 0px var(--container);
}
.product-info h3 {
  font-size: 35px;
}
.product-mid {
  font-size: 30px;
  font-weight: 550;
}
.buy-button {
  color: var(--secundary);
  background: var(--buttom);
  border: none;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
  font-size: 25px;
}
main {
  background: var(--main);
}
/* footer */

footer {
  background: var(--footer);
  padding: 10px 0px;
  width: 100%;
}
.footer-box {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.footer-box h2 {
  font-size: 80px;
  font-weight: 800;
}

.footer-box img {
  width: 50px;
}
.footer-box a {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--secundary);
}
.footer-box h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1500px;
  margin: auto;
  margin-top: 100px;
}

.tyc {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}
.tyc p {
  margin-top: 20px;
}
.tyc hr {
  border: none;
  height: 1px;
  background-color: var(--secundary);
}
.contacto li {
  margin-top: 30px;
  display: flex;
  align-items: center;
  font-size: 30px;
  color: var(--secundary);
  gap: 10px;
}

/* beneficios */
#benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  max-width: 1500px;
  margin: auto;
}
#benefits h2 {
  font-size: 40px;
}
.benefits {
  width: 600px;
  padding: 0px 80px;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 0px 88px;
  max-width: 1400px;
  gap: 80px;
  margin-bottom: 80px;
}
.benefits h3 {
  font-size: 35px;
}
.benefits-text {
  width: 350px;
  margin-top: 40px;
}
.benefits-text p {
  font-size: 20px;
  white-space: normal;
}

.benefits img {
  width: 350px;
  height: 250px;
  box-shadow: 0 8px 24px 0px var(--img);
}
.hr {
  box-shadow: 0px 8px 24px 20px var(--img);
}
/* sobre nosostros */
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  max-width: 1000px;
  margin: auto;
}
#about h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.about-container p {
  text-align: center;
  margin-bottom: 50px;
  font-size: 25px;
  white-space: pre-line;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0px 0px 0px;
  max-width: 700px;
}
